<h2>Sign in</h2>

<% semantic_form_for :session, :url => session_path do |form| %>
  <% form.inputs do %>
    <%= form.input :email %>
    <%= form.input :password, :as => :password %>
    <%= form.input :remember_me, :as => :boolean, :required => false %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Sign in" %>
  <% end %>
<% end %>

<ul>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>
<p>
  We are currently not accepting any new users of the Pairwise API. If you are interested in becoming a user of the pairwise api, please contact info@allourideas.org. For more information visit <a href="http://www.allourideas.org">our main website</a>
  </p>

