<p>
  <b>Site:</b>
  <%=h @click.site_id %>
</p>

<p>
  <b>Visitor:</b>
  <%=h @click.visitor_id %>
</p>

<p>
  <b>Additional info:</b>
  <%=h @click.additional_info %>
</p>


<%= link_to 'Edit', edit_click_path(@click) %> |
<%= link_to 'Back', clicks_path %>